body {
    margin: 0;
    font-family: Arial, sans-serif;
    user-select: none; /* Отключение выделения текста */
}

header {
    background-color: #00CED1; /* Цвет фона */
    display: flex;
    align-items: center; /* Центрирование элементов по вертикали */
    padding: 1px 10px; /* Уменьшено верхнее и нижнее значение */
    user-select: none; /* Отключение выделения текста */
}

header img {
    width: 50px; /* Ширина логотипа */
    height: auto; /* Автоматическая высота */
    margin-right: 10px; /* Отступ справа от логотипа */
}

/* Стили для таблицы с картинами */
#paintingsTable {
    width: 1300px; /* Фиксированная ширина таблицы */
    margin: 20px auto; /* Центрирование таблицы */
    border-collapse: collapse; /* Убираем двойные границы */
    user-select: none; /* Отключение выделения текста */
}

#paintingsTable th, #paintingsTable td {
    padding: 15px; /* Отступы внутри ячеек */
    text-align: left; /* Выравнивание текста по левому краю */
    border: 1px solid #ddd; /* Светло-серая граница */
    user-select: none; /* Отключение выделения текста */
}

#paintingsTable th {
    background-color: #00CED1; /* Цвет фона для заголовков */
    color: white; /* Цвет текста для заголовков */
    font-weight: bold; /* Жирный шрифт для заголовков */
}

#paintingsTable tr:nth-child(even) {
    background-color: rgba(0, 206, 209, 0.2); /* Полупрозрачный фон для четных строк */
}

#paintingsTable tr:hover {
    background-color: rgba(221, 221, 221, 0.6); /* Полупрозрачный цвет при наведении на строку */
    cursor: pointer; /* Указатель курсора при наведении */
}

#paintingsTable td {
    color: #333; /* Цвет текста для ячеек */
    font-size: 16px; /* Размер шрифта для ячеек */
}

/* Стили для полей ввода */
.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 20px; /* Отступ между столбцами */
}

.input-group input {
    padding: 10px;
    margin-bottom: 10px; /* Отступ между полями */
    border: 1px solid #ddd; /* Светло-серая граница */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
}

.input-group input:focus {
    border-color: #00CED1; /* Цвет границы при фокусе */
    outline: none; /* Убираем стандартное выделение */
}

/* Кнопка "Найти" */
#searchButton {
    padding: 10px;
    background-color: #00CED1; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Без границы */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель курсора */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

#searchButton:hover {
    background-color: #008B8B; /* Цвет при наведении */
}

/* Стили для кнопки "Сбросить фильтры" */
#resetButton {
    padding: 10px;
    background-color: #00CED1; /* Цвет фона */
    color: white; /* Цвет текста */
    border: none; /* Без границы */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Указатель курсора */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

#resetButton:hover {
    background-color: #008B8B; /* Цвет при наведении */
}

/* Изменяем стиль input-container для равномерного распределения */
.input-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Изменяем ширину input-group для более компактного отображения */
.input-group {
    display: flex;
    flex-direction: column;
    margin: 0 10px; /* Уменьшен отступ между столбцами */
}

/* Стили для группы кнопок */
.button-group {
    display: flex; /* Используем flexbox для расположения кнопок в одну линию */
    gap: 10px; /* Отступ между кнопками */
}

/* Стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Окно фиксировано на экране */
    z-index: 1000; /* Поверх других элементов */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fff; /* Белый фон для содержимого */
    margin: 15% auto; /* Центрирование */
    padding: 20px;
    border: 1px solid #888; /* Рамка */
    width: 60%; /* Установите желаемую ширину */
}

.modal-header {
    display: flex;
    align-items: center; /* Центрирование элементов по вертикали */
}

.modal-content p {
    margin: 5px 0; /* Отступы для параграфов */
}

.close-button {
    color: #aaa; /* Цвет кнопки закрытия */
    float: right; /* Справа */
    font-size: 28px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
}

.close-button:hover,
.close-button:focus {
    color: black; /* Цвет при наведении */
    text-decoration: none; /* Без подчеркивания */
    cursor: pointer; /* Указатель курсора */
}

/* Новый стиль для страницы с информацией о картине */
.painting-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px; /* Ограничение по ширине */
    border-radius: 10px;
}

.other-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 206, 209, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px; /* Ограничение по ширине */
    border-radius: 10px;

}


/* Стили для изображения и информации о картине */
.painting-img {
    width: 40%; /* Ширина изображения */
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    margin-right: 20px; /* Отступ справа от изображения */
}

.painting-details {
    width: 55%; /* Ширина блока с информацией */
}

.painting-details h1 {
    margin-bottom: 0px;
    color: #333;
}

.painting-details p {
    margin: 10px 0;
    line-height: 1.6;
}

.price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 40px;
    background-color: rgba(0, 206, 209, 0.15); /* Полупрозрачный фон */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.price-details {
    flex-grow: 1; /* Позволяет тексту занимать оставшееся пространство */
}

.bid-button {
    padding: 10px 15px;
    
    background-color: #00CED1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.bid-button:hover {
    background-color: #008B8B;
}

#priceProposalForm {
    display: flex;
    flex-direction: column; 
    /* width: 50%; Установка ширины формы на 50% */
    margin: 0 auto; /* Центрирование формы по горизонтали */
}

#priceProposalModal .modal-content {
    width: 40%; /* Установка ширины 50% только для модального окна priceProposalModal */
    margin: 15% auto; /* Центрирование по горизонтали и отступ сверху */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#bid_price {
    width: 100%; /* Широкое поле ввода */
    padding: 10px; /* Отступы внутри поля */
    margin-bottom: 15px; /* Отступ снизу */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Учесть паддинг в ширине */
}


/* Стили для информации о продавце и аукционе */
.seller-info, .auction-info {
    margin-top: 20px;
    margin: auto;
}

.seller-info h2, .auction-info h2 {
    margin-bottom: 10px;
    color: #555;
}

.seller-info p, .auction-info p {
    margin: 10px 0;
    font-size: 17px;
    color: #555;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
    .painting-info {
        flex-direction: column;
        align-items: center;
    }

    .painting-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .painting-details, .seller-info, .auction-info {
        width: 100%;
    }

    .input-container {
        flex-direction: column; /* Изменяем на вертикальное расположение для мобильных */
    }

    .input-group {
        margin: 10px 0; /* Отступ между полями для мобильных */
    }
}